/Library/
/Temp/
/obj/
/.vs/
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp.csproj
/Flatten_Island.Editor.csproj
/Flatten_Island.Plugins.csproj
/Flatten_Island.csproj
/Flatten_Island.sln
/Unity.Analytics.DataPrivacy.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.PackageManagerUI.Editor.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.TextMeshPro.csproj
